{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book - High Quality Pet Food</title>
    <meta name="title" content="Kitter - High Quality Pet Food" />
    <meta name="description" content="This is an eCommerce html template made by codewithsadee" />
    <link rel="shortcut icon" href="{% static 'favicon.svg' %}" type="image/svg+xml" />
    <link rel="stylesheet" href="{% static 'home/css/book.css' %}" />
    <link rel="stylesheet" href="{% static 'home/css/book1.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Nunito+Sans:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="preload" as="image" href="{% static 'home/images/hero-banner.jpg' %}" />
</head>
<body id="top">
    <header class="header" data-header>
        <div class="container">
            <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
                <ion-icon name="menu-outline" aria-hidden="true" class="menu-icon"></ion-icon>
                <ion-icon name="close-outline" aria-label="true" class="close-icon"></ion-icon>
            </button>
            <a href="#" class="logo">Kitter</a>
            <nav class="navbar" data-navbar>
                <ul class="navbar-list">
                    <li class="navbar-item"><a href="{% url 'home' %}" class="navbar-link" data-nav-link>Home</a></li>
                    <li class="navbar-item"><a href="{% url 'shop' %}" class="navbar-link" data-nav-link>Shop</a></li>
                    <li class="navbar-item"><a href="{% url 'pet' %}" class="navbar-link" data-nav-link>Pets</a></li>
                    <li class="navbar-item"><a href="{% url 'book' %}" class="navbar-link" data-nav-link>Book</a></li>
                </ul>
                <a href="#" class="navbar-action-btn">Log In</a>
            </nav>
            <div class="header-actions">
                <button class="action-btn" aria-label="Search"><ion-icon name="search-outline" aria-hidden="true"></ion-icon></button>
                <div class="search-box">
                    <div class="search-container">
                        <input type="text" id="breed-search" placeholder="Search..." class="search-input" />
                        <button id="search-button" class="search-button">Submit</button>
                    </div>
                </div>
                <button class="action-btn user" aria-label="User"><ion-icon name="person-outline" aria-hidden="true"></ion-icon></button>
                <button class="action-btn" aria-label="cart"><ion-icon name="bag-handle-outline" aria-hidden="true"></ion-icon><span class="btn-badge">0</span></button>
            </div>
        </div>
    </header>

    <section class="book" id="book">
        <div class="bf-container">
            <div class="bf-body">
                <div class="bf-head">
                    <h1>🐾 Book Your Visit 🐾</h1>
                    <p>Appointment Form</p>
                </div>
                <!-- Display success or error messages -->
                {% if messages %}
                <div id="messages">
                    {% for message in messages %}
                    <p class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <form id="bookingForm" class="bf-body-box" action="{% url 'create_booking' %}" method="post">
                    {% csrf_token %}
                    <div class="bf-row">
                        <div class="bf-col-6">
                            <p>Your Full Name</p>
                            <input type="text" name="fname" class="box" placeholder="Your Full Name" required>
                        </div>
                        <div class="bf-col-6">
                            <p>Email Address</p>
                            <input type="email" name="email" class="box" placeholder="Email Address" required>
                        </div>
                    </div>
                    <div class="bf-row">
                        <div class="bf-col-6">
                            <p>Select Date</p>
                            <input type="date" name="date" class="box" required>
                        </div>
                        <div class="bf-col-6">
                            <p>Select Time</p>
                            <input type="time" name="time" class="box" required>
                        </div>
                    </div>
                    <div class="bf-row">
                        <div class="bf-col-12">
                            <p>Messages</p>
                            <textarea name="message" class="box" cols="30" rows="10" placeholder="Your message, or any request." required></textarea>
                        </div>
                    </div>
                    <div class="bf-row">
                        <div class="bf-col-3">
                            <input type="submit" value="Submit">
                        </div>
                    </div>
                </form>
                <div class="bf-footer">
                    <p>We'll see you there!<a href="#"> Thank You!🐾</a></p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>


  <section class="section service" aria-label="service">
    <div class="container">
      <img
        src="{% static 'home/images/service-image.png' %}"
        width="122"
        height="136"
        loading="lazy"
        alt=""
        class="img"
      />

      <h2 class="h2 section-title">
        <span class="span">What your pet needs,</span> when they need it.
      </h2>

      <ul class="grid-list">
        <li>
          <div class="service-card">
            <figure class="card-icon">
              <img
                src="{% static 'home/images/service-icon-1.png' %}"
                width="70"
                height="70"
                loading="lazy"
                alt="service icon"
              />
            </figure>

            <h3 class="h3 card-title">Free Same-Day Delivery</h3>

            <p class="card-text">
              Order by 2pm local time to get free delivery on orders $35+
              today.
            </p>
          </div>
        </li>

        <li>
          <div class="service-card">
            <figure class="card-icon">
              <img
                src="{% static 'home/images/service-icon-2.png' %}"
                width="70"
                height="70"
                loading="lazy"
                alt="service icon"
              />
            </figure>

            <h3 class="h3 card-title">30 Day Return</h3>

            <p class="card-text">
              35% off your first order plus 5% off all future orders.
            </p>
          </div>
        </li>

        <li>
          <div class="service-card">
            <figure class="card-icon">
              <img
                src="{% static 'home/images/service-icon-3.png' %}"
                width="70"
                height="70"
                loading="lazy"
                alt="service icon"
              />
            </figure>

            <h3 class="h3 card-title">Security payment</h3>

            <p class="card-text">
              25% off your online order of $50+. Available at most
              locations.
            </p>
          </div>
        </li>

        <li>
          <div class="service-card">
            <figure class="card-icon">
              <img
                src="{% static 'home/images/service-icon-4.png' %}"
                width="70"
                height="70"
                loading="lazy"
                alt="service icon"
              />
            </figure>

            <h3 class="h3 card-title">24/7 Support</h3>

            <p class="card-text">
              Shop online to get orders over $35 shipped fast and free.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <!-- 
  - #CTA
-->

  <section
    class="cta has-bg-image"
    aria-label="cta"
    style="background-image: url('static/home/images/cta-bg.jpg')"
  >
    <div class="container">
      <figure class="cta-banner">
        <img
          src="{% static 'home/images/cta-banner.png' %}"
          width="900"
          height="660"
          loading="lazy"
          alt="cat"
          class="w-100"
        />
      </figure>

      <div class="cta-content">
        <img
          src="{% static 'home/images/cta-icon.png' %}"
          width="120"
          height="35"
          loading="lazy"
          alt="taste guarantee"
          class="img"
        />

        <h2 class="h2 section-title">
          Taste it, love it or we’ll replace it… Guaranteed!
        </h2>

        <p class="section-text">
          At Petio, we believe your dog and cat will love their food so
          much that if they don’t … we’ll help you find a replacement.
          That’s our taste guarantee.
        </p>

        <a href="#" class="btn">Find out more</a>
      </div>
    </div>
  </section>

  <!-- 
  - #BRAND
-->

  <section class="section brand" aria-label="brand">
    <div class="container">
      <h2 class="h2 section-title">
        <span class="span">Popular</span> Brands
      </h2>

      <ul class="has-scrollbar">
        <li class="scrollbar-item">
          <div
            class="brand-card img-holder"
            style="--width: 150; --height: 150"
          >
            <img
              src="{% static 'home/images/brand-1.jpg' %}"
              width="150"
              height="150"
              loading="lazy"
              alt="brand logo"
              class="img-cover"
            />
          </div>
        </li>

        <li class="scrollbar-item">
          <div
            class="brand-card img-holder"
            style="--width: 150; --height: 150"
          >
            <img
              src="{% static 'home/images/brand-2.jpg' %}"
              width="150"
              height="150"
              loading="lazy"
              alt="brand logo"
              class="img-cover"
            />
          </div>
        </li>

        <li class="scrollbar-item">
          <div
            class="brand-card img-holder"
            style="--width: 150; --height: 150"
          >
            <img
              src="{% static 'home/images/brand-3.jpg' %}"
              width="150"
              height="150"
              loading="lazy"
              alt="brand logo"
              class="img-cover"
            />
          </div>
        </li>

        <li class="scrollbar-item">
          <div
            class="brand-card img-holder"
            style="--width: 150; --height: 150"
          >
            <img
              src="{% static 'home/images/brand-4.jpg' %}"
              width="150"
              height="150"
              loading="lazy"
              alt="brand logo"
              class="img-cover"
            />
          </div>
        </li>

        <li class="scrollbar-item">
          <div
            class="brand-card img-holder"
            style="--width: 150; --height: 150"
          >
            <img
              src="{% static 'home/images/brand-5.jpg' %}"
              width="150"
              height="150"
              loading="lazy"
              alt="brand logo"
              class="img-cover"
            />
          </div>
        </li>
      </ul>
    </div>
  </section>
</article>
</main>

<!-- 
- #FOOTER
-->

<footer
class="footer"
style="background-image: url('static/home/images/footer-bg.jpg')"
>
<div class="footer-top section">
  <div class="container">
    <div class="footer-brand">
      <a href="#" class="logo">Kitter</a>

      <p class="footer-text">
        If you have any question, please contact us at
        <a href="mailto:support@gmail.com" class="link"
          >support@gmail.com</a
        >
      </p>

      <ul class="contact-list">
        <li class="contact-item">
          <ion-icon name="location-outline" aria-hidden="true"></ion-icon>

          <address class="address">
            30 Buttonwood St.Pataskala OH 43062
          </address>
        </li>

        <li class="contact-item">
          <ion-icon name="call-outline" aria-hidden="true"></ion-icon>

          <a href="tel:+16234567891011" class="contact-link"
            >(+1)-6234-56-789-1011</a
          >
        </li>
      </ul>

      <ul class="social-list">
        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-pinterest"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>
      </ul>
    </div>

    <ul class="footer-list">
      <li>
        <p class="footer-list-title">Corporate</p>
      </li>

      <li>
        <a href="#" class="footer-link">Careers</a>
      </li>

      <li>
        <a href="#" class="footer-link">About Us</a>
      </li>

      <li>
        <a href="#" class="footer-link">Contact Us</a>
      </li>

      <li>
        <a href="#" class="footer-link">FAQs</a>
      </li>

      <li>
        <a href="#" class="footer-link">Vendors</a>
      </li>

      <li>
        <a href="#" class="footer-link">Affiliate Program</a>
      </li>
    </ul>

    <ul class="footer-list">
      <li>
        <p class="footer-list-title">Information</p>
      </li>

      <li>
        <a href="#" class="footer-link">Online Store</a>
      </li>

      <li>
        <a href="#" class="footer-link">Privacy Policy</a>
      </li>

      <li>
        <a href="#" class="footer-link">Refund Policy</a>
      </li>

      <li>
        <a href="#" class="footer-link">Shipping Policy</a>
      </li>

      <li>
        <a href="#" class="footer-link">Terms of Service</a>
      </li>

      <li>
        <a href="#" class="footer-link">Track Order</a>
      </li>
    </ul>

    <ul class="footer-list">
      <li>
        <p class="footer-list-title">Services</p>
      </li>

      <li>
        <a href="#" class="footer-link">Grooming</a>
      </li>

      <li>
        <a href="#" class="footer-link">Positive Dog Training</a>
      </li>

      <li>
        <a href="#" class="footer-link">Veterinary Services</a>
      </li>

      <li>
        <a href="#" class="footer-link">Petco Insurance</a>
      </li>

      <li>
        <a href="#" class="footer-link">Pet Adoption</a>
      </li>

      <li>
        <a href="#" class="footer-link">Resource Center</a>
      </li>
    </ul>
  </div>
</div>

<div class="footer-bottom">
  <div class="container">
    <p class="copyright">
      &copy; 2022 Made with ♥ by
      <a href="#" class="copyright-link">codewithsadee.</a>
    </p>

    <img
      src="{% static 'home/images/payment.png' %}"
      width="397"
      height="32"
      loading="lazy"
      alt="payment method"
      class="img"
    />
  </div>
</div>
</footer>

<!-- 
- #BACK TO TOP
-->

<a
href="#top"
class="back-top-btn"
aria-label="back to top"
data-back-top-btn
>
<ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
</a>

<!-- 
- custom js link
-->
<script src="{% static 'home/scripts/script.js' %}" defer></script>
<script src="{% static 'home/scripts/searchPets.js' %}"></script>
<script src="{% static 'home/scripts/allPets.js' %}"></script>

<!-- 
- ionicon link
-->
<script
type="module"
src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<script
nomodule
src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
></script>



  <!-- Add your JavaScript links and other necessary scripts -->
  <script src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.esm.js" type="module"></script>
  <script src="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/ionicons/ionicons.js" nomodule></script>
  <script src="{% static 'home/js/main.js' %}"></script>
  <script>
    function showSuccessMessage(event) {
      event.preventDefault(); // Prevent the form from submitting and reloading the page
      document.getElementById('bookingForm').style.display = 'none'; // Hide the form
      document.getElementById('successMessage').style.display = 'block'; // Show the success message
    }
  </script>
  
</body>
</html>
